@page "/pdfBuilder"

<div class="page-container">
    <MudGrid Spacing="2" Style="height: 100%; flex-grow: 1">
        <MudItem Class="page-part-container" xs="8">
            @BuildBuilderView()
        </MudItem>

        <MudItem Class="page-part-container" xs="4">
            <MudPaper Style="display: flex; flex-grow: 1; height: 100%;">
                <h1>PREVIEW</h1>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {

    private RenderFragment BuildBuilderView() => __builder =>
    {
        <MudDropContainer T="DropItem" Items="_dropzoneItems" ItemsSelector="@((item, dropzone) => item.Identifier == dropzone)"
                          ItemDropped="@ItemUpdated" Class="d-flex flex-wrap flex-grow-1" Style="height: 100%">
            <ChildContent>
                <MudStack Row Spacing="2" Class="d-flex flex-grow-1">
                    <MudItem xs="4">
                        <MudDropZone T="DropItem" Identifier="@AREA_NAME_TEMPLATES" Style="background-color: lightgrey; flex-grow: 1; height: 100%">
                        </MudDropZone>
                    </MudItem>
                    <MudItem xs="8">
                        <MudDropZone T="DropItem" Identifier="@AREA_NAME_BUILDER" AllowReorder Style="background-color: red; flex-grow: 1; height: 100%">
                        </MudDropZone>
                    </MudItem>
                </MudStack>
            </ChildContent>
            <ItemRenderer>
                <MudPaper Elevation="25" Class="pa-4 mb-4">@context.Name</MudPaper>
            </ItemRenderer>

        </MudDropContainer>
    };
}